/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navigation */
nav {
    background-color: #626262;
    padding: 25px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9800;
}

/* Sections */
section {
    
    padding: 60px 20px;
    text-align: center;
}
section h1 {
      /* padding: 60px 20px; */
      text-align: center;
      font-size: 250%;

}

/* Home */
#home {
    background: url('https://plus.unsplash.com/premium_photo-1675782999366-2c3fcfe946c4?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D') no-repeat center center/cover;
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 200%;
    font-style: italic;
}

/* Gallery */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

/* Responsive */
@media(max-width: 768px) {
    .gallery-container img {
        width: 90%;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
}
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}
.typewriter h2 {
  overflow: hidden; /* text bahar na nikle */
  border-right: .15em solid brown; /* typewriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing Effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor blink */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: brown }
}